*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    color: red;
}
h2{
    align-self: center;
}
body{
    max-width: 1200px;
    margin: 0 auto;

}
header{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 40px;

}
img{
    max-width: 100%;
    align-self: center;
}
.namelogo img{
    width: 100%;
    height: 100px;
}
/* REDES SOCIALES */
.containerRedes{
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.containerRedes ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.containerRedes ul li a{
    display: block;
    background: gray;
    color: white;
    font-size: 30px;
    line-height: 48px;
    transition: 0.2s;
}
.containerRedes ul:hover a{
    filter: blur(3px);
}
.containerRedes ul li a:hover{
    filter: none;
    transform: scale(1.2);
    transition: .6s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 40);
    
}
.containerRedes ul li .facebookLink:hover{
    background: cornflowerblue;
    border-radius: 55%;
}
.containerRedes ul li .twitterLink:hover{
    background: #3f9cf3;
    border-radius: 55%;
}
.containerRedes ul li .instagramLink:hover{
    background: radial-gradient(circle at 30% 110%, #ffdb8b, #ffdb8b 0%, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3e5fbc 100%);
    border-radius: 55%;
}

/* ICONO DEL CARRITO */
.containerIcon{
    position: relative;
}
.IconCart{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.countProduct{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 27%;
    right: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
    color: white;
    border-radius: 50%;
}


#ContadorProductos{
    font-size: 17px;
    font-family: sans-serif;
}
.containerCartProduct{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 20);
    border-radius: 10px;
}
.hiddenCart{
    display: none;
}
.cartProduct{
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 20);
}
.infoProductCarrito{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.CantidadProductoCarrito{
    font-size: 20px;
    font-weight: 500;
}
.tituloPriductoCarrito{
    font-size: 20px;
    font-weight: 500;
}
.PrecioProductoCarrito{
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}
.IconClose{
    width: 40px;
    height: 40px;
}
.IconClose:hover{
    stroke: red;
    cursor: pointer;
}
.CartTotal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}
.TotalAPagar{
    font-size: 20px;
    font-weight: 700;
}

/* METODOS DE PAGO */

.metodoPago{
    display: grid;
    grid-template-columns: repeat(1 ,1fr);
    border-top: 1px solid;
    align-items: center;
    justify-content: center;
    gap: 20x;
    height: 200px;
}
.metodoPago ul li{
    display: inline-block;
    margin: 0 5px;
    width: 100px;
    text-align: center;
    padding-top: 20px;
    padding-left: 5px;
}
/* MENU DE VESTIDOS */
.containerItems {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
}
.items{
    border-radius: 20px;

}
.items:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 20);
}
.items img{
    width: 100%;
    height: 300px;
    object-fit: cover contain;
    border-radius: 10px 10px 0 0;
    transition: all 2s;
}
.items:hover img{
    transform: scale(1.2);
}
.items figure{
    overflow: hidden;
}
.infoProduct{
    display: flex;
     flex-direction: column;
     padding: 15px 30px;
     line-height: 1.5;
     gap: 5px;
}
.infoProduct h2{
    font-size: 20px;
}
.infoProduct button{
    background-color: black;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 20px;
}
.price{
    font-size: 20px;
    font-weight: 600;
}
footer{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px;
}
.infoEmpresa{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.infoPoliticas{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
